body{
    background: #eee;
}

.section-quotes{
    display: flex;
    gap: 2em;
}

.section-quotes .main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card{
    display: flex;
    background: #fff;
    flex-direction: column;
}

.aside{
    display: flex;
}

.avatar{
    background: green;
}

.main .card{
    display: flex;
}