h2, p{
    color: black;
    font-family:'Courier New', Courier, monospace;
}

header, section, footer{
    margin-top: 3em;
    border-style:solid;
}

nav a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}