* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.keyboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.3em;
    background: #ddd;
    margin: 2em auto; /* center horizontally */
    border: 1px solid gray;
    border-radius: 0.4em;
    width: 800px; /* fixed width */
    box-sizing: border-box;
}


.regular, .special{
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
}

.regular p{
    background: white;
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.special p{
    background: #ccc;
    border: 1px solid gray;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.special .space{
    flex-basis: 300px;
    background: white;
}

.special {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
}

.special > *:not(.space) {
    flex: 1;
    text-align: center;
}

.keys{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.special, .regular{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.regular > *{
    flex: 1;
    text-align: center;
}

.regular .capslock{
    flex-basis: 80px;
    background: #ccc;    
}

.regular .shift{
    flex-basis: 60px;
    background: #ccc;
}

.regular .tab, .regular .backspace, .regular .enter{
    background: #ccc;
}

.regular .right-shift{
    flex-basis: 110px;
    background: #ccc;
}

.tab{
    flex-basis: 60px;
}

.regular .enter-child{
    flex-basis: 30px;
    background: #ccc;
    
}

.enter::after {
  content: '';
  position: absolute;
  top: 100%;         /* Places it just below */
  width: 35px;
  height: 50px;
  left: 18.8px;
  background-color: #ccc;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: none;
}


section:nth-child(4){
    padding-right: 6em;
}

.enter {
    position: relative;
}