body{
    background: #ccc;
}

.calendar{
    background: white;
    display: flex;
    flex-direction: row;
}

.week{
    display: flex;
    flex-basis: 80%;
    border: 1px solid gray;
    flex-direction: column;
    flex-wrap: wrap;
}

.notes{
    display: flex;
    flex-basis: 20%;
    border: 1px solid gray;
}

.week .workweek li{
    display: block;
}

.week .nowork li{
    display: block;
}

.week .workweek{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.week .nowork{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3{
    text-align: center;
}

.notes{
    display: flex;
    flex-direction: column;
}

.notes span{
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    flex-basis: 50%;
    padding-top: 1em;
}

.week > *{
    border: 1px solid gray;
    margin: 0;
    padding: 2em;
}

.workweek li{
    flex: 1 1 auto;
    text-align: center;
    border: 1px solid gray;
    padding: 2em;
    margin: 0;
}

.nowork li{
    flex: 1 1 auto;
    text-align: center;
    border: 1px solid gray;
    padding: 2em;
    margin: 0;
}

.workweek{
    padding: 0;
}

.nowork{
    padding: 0;
}