.gallery li{
    display: block;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.gallery li{
    display: flex;
    max-width: 200px;
    flex-direction: column;
    max-height: 30%px;
    border: 8px solid black;
    justify-content: center;
    max-width: 30%;
    position: relative;
}

.gallery li img{
    padding: 1em;
    padding-bottom: 3em;
}

p{
    position: absolute;
    bottom: 0;
    left: 1em;
    font-style: italic;
}