body{
    background-color: #eee;
}

section{
    background-color: white;
    padding: 0.3em;
}

section{
    margin: 2em;
    border-radius: 0.3em;
    box-shadow: 10px 5px 15px gray;
    display: flex;
    flex-wrap: wrap;
}

section > *{
    border: 1px solid gray;
    margin: 0.5em;
    padding: 1em;
}

section > header,
section > footer{
    flex-basis: 100%;
    flex-shrink: 1;
}

section aside{
    flex-shrink: 2;
    flex-grow: 0.5;
}

section main{
    flex-shrink: 1;
    flex-grow: 1;
}